 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 32%, rgba(253,187,45,1) 86%);
}

.navbar {
    width: 100%;
    background-color: #4CAF50;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navbar a {
    color: #fff;
    margin: 0 20px;
    text-decoration: none;
    font-size: 18px;
}

.navbar h3 {
    font-size: 24px;
    margin: 0;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}

.menu-item {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.menu-item p {
    font-size: 14px;
    color: #777;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}

.subtract-item{
    background-color: red;
}

.subtract-item:hover {
    background-color: #c12222;
}

button:hover {
    background-color: #45a049;
}

.center-button {
    display: block;
    margin: 0 auto;
    text-align: center;
}

